/* 전체 레이아웃과 네비게이션 바 */
.mypages-navbarContainer {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px 0;
}

.mypages-navbar {
    background-color: #77933C;
    overflow: hidden;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mypages-navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.mypages-navbar a:hover {
    background-color: #EA9C00;
}

/* 콘텐츠 영역 기본 스타일 */
.mypages-content {
    padding: 20px;
    display: none;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 첫 화면에 표시될 탭 설정 */
#myrecipe {
    display: block; /* 첫 화면에 '나의 레시피'가 보이도록 설정 */
}

/* 구독 서비스 관련 스타일 */
.mypages-subscription-info {
    background-color: #f9f5e6;
    padding: 20px;
    border: 1px solid #d3d3d3;
    margin-bottom: 20px;
    border-radius: 5px;
}

.mypages-subscription-info ul {
    margin-left: 20px;
    list-style-type: disc;
}

/* 구독 및 취소 버튼 스타일 */
.mypages-subscribeButton,
.mypages-cancelNoButton,
.mypages-cancelYesButton {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.mypages-subscribeButton:hover,
.mypages-cancelNoButton:hover,
.mypages-cancelYesButton:hover {
    background-color: #c0c0c0;
}

.mypages-subscribeButton:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

/* 회원 탈퇴 모달 관련 스타일 */
.mypages-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.mypages-modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.mypages-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.mypages-close:hover,
.mypages-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 회원정보 수정 폼 스타일 */
.mypages-form-group {
    margin-bottom: 20px;
}

.mypages-form-group label {
    display: block;
    margin-bottom: 5px;
}

.mypages-form-group input,
.mypages-form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
}

/* 회원 탈퇴 버튼 스타일 */
.mypages-cancelButton {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.mypages-cancelButton:hover {
    background-color: #ff1c1c;
}
