#ingredients-container p {
    display: flex;
    justify-content: center;  /* 수평 중앙 정렬 */
    align-items: center;      /* 수직 중앙 정렬 */
    height: 100vh;            /* 부모 요소의 높이를 전체 화면으로 설정 */
    transform: translate(85px, -170px);  /* 미세조정 */
}

.refrigerator-wrapper .refrigerator-photo {
    position: relative;
}

.refrigerator-photo .refrigerator-container {
    position: relative;
    background-image: url('../img/refri.png');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 650px;
    overflow: hidden;
}

.refrigerator-container #ingredients-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(9px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#ingredients-container .ingredient {
    text-align: center;
    cursor: pointer;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 106px;
    box-sizing: border-box;
    position: relative;
    transform: translateY(95px);
}

.ingredient img {
    width: 100px;
    height: auto;
    display: block;
}

.ingredient .ingredient-text {
    text-align: center;
    bottom: 0;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    letter-spacing: 1px;
    padding: 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    display: inline-block;
    box-sizing: content-box;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 18px;
}

.ingredient:hover .ingredient-text {
    opacity: 1;
}

.refrigerator-wrapper {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    gap: 20px;
    padding: 20px;
    height: 100vh; /* 부모 요소 높이를 100%로 설정 */
    margin: auto; /* 자동으로 중앙에 배치 */
    width: fit-content;
}

.refrigerator-photo, .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    overflow: hidden;
    letter-spacing: 1px;
}

.table-wrapper {
    max-width: 600px;
    height: auto;
    border: 4px solid #81c405;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.table-container table, .table-container td, .table-container th {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    width: 650px;
    border: 1px #81c405;
    padding: 8px;
    text-align: center;
    letter-spacing: 1px;
    word-wrap: break-word;
    font-size: 20px;
}

.table-container thead, .table-container tbody {
    display: block;
}

.table-container tbody {
    max-height: 350px;
    overflow-y: auto;
}

.table-container th {
    background-color: #81c405;
    color: white;
}

.d-day {
    font-weight: bold;
    color: #000;
}

.d-day-warning {
    font-weight: bold;
    color: red;
}

.d-day {
    font-weight: bold;
    color: blue;
}

.d-day-over {
    font-weight: bold;
    color: #ffb524;
}

.refriBtn {
    margin: auto;
    padding: 5px 10px;
    background-color: #81c405;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: -3px -3px 7px #fff, 2px 2px 4px #babebc;
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    display: inline-block;
}

.refriBtn:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.refriBtn:hover {
    background-color: #ffb524;
}

.table-container tbody::-webkit-scrollbar, #RecipeModal .modal-window::-webkit-scrollbar {
    width: 8px;
}

.table-container tbody::-webkit-scrollbar-thumb, #RecipeModal .modal-window::-webkit-scrollbar-thumb {
    background: #ffb524;
    border-radius: 10px;
}

.table-container tbody::-webkit-scrollbar-track, #RecipeModal .modal-window::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.modal-overlay {
    z-index: 1000;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-window {
    z-index: 1001;
    background: ivory;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    margin: auto;
    padding: 20px;
    max-width: 800px;
    max-height: 600px;
}

#delModal .modal-window {
    width: 300px;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#dateModal .modal-window {
    width: 300px;
    height: 150px;
}

.close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    color: black;
}

#delModal .modal-text {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    word-wrap: break-word; /* 단어가 너무 길면 줄바꿈 */
    overflow-wrap: break-word; /* 긴 단어가 넘치지 않도록 처리 */
    max-width: 100%; /* 모달 바깥으로 넘치지 않도록 제한 */
}

#delModal .button-container {
    margin: auto;
}

#delModal .refriBtn {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

#dateModal .date-text {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#date-container input[type="date"] {
    margin-left: 40px;
}

#date-container {
    display: flex;
    flex-direction: column;
}

.date-input-container {
    display: flex;
    align-items: center;
}

#submitDate {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* 레시피 추천 모달 */
#RecipeModal .modal-window {
    position: relative;
    width: 800px;
    height: 700px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* 자식 요소들을 가운데 정렬 */
}

/* 오른쪽 상단 고정 닫기 버튼 */
.modal-window img {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease-in-out;
}

.modal-window img:hover {
    transform: scale(1.1);
}

/* 제목 스타일 */
.modal-window h2, .modal-window h3 {
    color: #FFB524;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

/* 버튼 스타일 - 가운데 정렬 */
.title {
    display: flex;
    justify-content: center; /* 버튼을 가운데 정렬 */
    width: 100%;
    margin: 10px 0; /* 위아래 여백 */
}

/* <p> 태그 스타일 */
#RecipeModal .modal-window p {
    color: #333; /* 텍스트 색상: 어두운 회색 */
    font-size: 20px; /* 텍스트 크기 */
    line-height: 1.6; /* 줄 간격 */
    text-align: left; /* 왼쪽 정렬 */
    margin-bottom: 15px; /* 아래쪽 여백 */
    padding: 10px; /* 텍스트 주변 간격 */
    background-color: #f9f9f9; /* 읽기 쉽게 배경색 추가 */
    border-radius: 5px; /* 부드러운 모서리 */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05); /* 안쪽 그림자 */
    font-weight: bold;
}


#loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; /* 기본적으로 숨김 */
}

.loading-modal-content {
    background: white !important;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color:#81c405;
    border: 2px solid #FFB524; /* 밝은 주황색 테두리 */

}

.spinner {
    width: 17.6px;
    height: 17.6px;
    border-radius: 17.6px;
    box-shadow: 44px 0px 0 0 rgba(255, 181, 36, 0.2),
    35.6px 26px 0 0 rgba(255, 181, 36, 0.4),
    13.64px 41.8px 0 0 rgba(255, 181, 36, 0.6),
    -13.64px 41.8px 0 0 rgba(255, 181, 36, 0.8),
    -35.6px 26px 0 0 #ffb524;
    animation: spinner-b87k6z 1s infinite linear;
    margin: 80px auto; /* 스피너 위치 조정 */
}

@keyframes spinner-b87k6z {
    to {
        transform: rotate(360deg);
    }
}




/* 테이블 레이아웃을 고정 */
#materialsTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse; /* 셀 간격 없애기 */
    margin: 0; /* 테이블의 기본 여백 없애기 */
}

/* 각 열의 너비를 정확히 지정 */
#materialsTable td:nth-child(1),
#materialsTable th:nth-child(1) {
    width: 50%; /* 첫 번째 열의 너비를 50%로 설정 */
}

#materialsTable td:nth-child(2),
#materialsTable td:nth-child(3),
#materialsTable th:nth-child(2),
#materialsTable th:nth-child(3) {
    width: 25%; /* 두 번째와 세 번째 열은 각각 25% */
}

/* 테이블 셀의 기본 스타일을 설정 */
#materialsTable th, #materialsTable td {
    padding: 8px;
    text-align: center;
    vertical-align: middle; /* 셀 내용물 가운데 정렬 */
}

/* 스크롤이 가능한 tbody */
.table-container tbody {
    display: block;
    max-height: 350px;
    overflow-y: auto;
}

/* thead는 고정 */
.table-container thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* tbody의 셀 크기 맞추기 */
.table-container tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
