<div th:fragment="boardListView" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
	<div class="boardContent">

		<h3 style="font-weight: bold">자유게시판</h3>

		<div class="boardNavbar">
			<ul>
				<li><a href="#" class="category-link" data-category="" onclick="selectedCtg(this)">전체</a></li>
				<li><a href="#" class="category-link" data-category="공지사항" onclick="selectedCtg(this)">공지사항</a></li>
				<li><a href="#" class="category-link" data-category="나만의레시피" onclick="selectedCtg(this)">나만의레시피</a></li>
				<li><a href="#" class="category-link" data-category="자취꿀팁" onclick="selectedCtg(this)">자취꿀팁</a></li>
				<li><a href="#" class="category-link" data-category="사담" onclick="selectedCtg(this)">사담</a></li>
			</ul>
		</div>

		<div sec:authorize="isAuthenticated()" id="userInfo">
			<div id="userIconBox"></div>
			&nbsp
			<span id="loginUserName" style="font-weight: bold;">사용자</span>님&nbsp&nbsp<button id="boardWriteBt">글쓰기</button>
		</div>

		<div id="boardListContent"></div>

		<div id="paginationControls"></div>

		<!-- 검색폼 -->
		<form id="pagingForm" method="get" th:action="@{/board/list}">
			<div class="searchBox">
				<input type="hidden" name="page" id="page">
				<select id="searchType" name="searchType">
					<option value="title" th:selected="${searchType == 'title'}">제목</option>
					<option value="contents" th:selected="${searchType == 'contents'}">내용</option>
					<option value="name" th:selected="${searchType == 'name'}">작성자</option>
				</select>
				<input type="text" id="searchWord" name="searchWord" th:value="${searchWord}" placeholder="검색어를 입력하세요" size="30">
				<input type="submit" value="검색">
			</div>
		</form>

	</div>

	<style>
		#searchType option:checked {
			background-color: #ffb524;
		}

		#searchType option:hover {
			background-color: #ffb524; !important;
		}

		#searchType option:focus {
			background-color: #ffb524;
		}

		h3{
			text-align: center;
		}

		.boardNavbar{
			display: flex;
			justify-content: center;
			margin: 0 auto;
			margin-top: 40px;
			margin-bottom: 20px;
			width: 80%;

		}

		.boardNavbar ul {
			background-color: #81c405;
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: center;
			width: 900px;
			height: 50px;
			border-radius: 25px;
		}

		.boardNavbar ul li {
			font-size: 17px;
			display: flex; /* Flexbox 사용 */
			align-items: center; /* 세로 가운데 정렬 */
			justify-content: center; /* 가로 가운데 정렬 (필요 시) */
			width: 20%;
			height: 100%; /* 부모의 높이에 맞추기 */
		}

		.boardNavbar ul li a {
			text-decoration: none; /* 밑줄 제거 */
			color: white; /* 기본 글자색 */
			padding: 5px 10px; /* 링크 클릭 영역을 넓히기 위한 패딩 */
			border-radius: 25px;
			display: flex; /* Flexbox 사용 */
			justify-content: center;
			align-items: center; /* 세로 가운데 정렬 */
			width: 100%;
			height: 100%;
			font-weight: normal;
		}

		.boardNavbar ul li a:hover {
			background-color: #6aa003; /* Hover 시 더 진한 초록색 */
			cursor: pointer;
			border-radius: 25px;
		}

		#boardWriteBt{
			padding: 8px 10px; /* 패딩을 조절해서 버튼 크기를 줄임 */
			font-size: 15px; /* 글자 크기 조절 */
			border-radius: 4px; /* 테두리를 살짝 둥글게 */
			background-color: #81c405; /* 버튼 배경색 */
			color: white; /* 버튼 글자색 */
			border: none; /* 테두리 제거 */
			cursor: pointer; /* 커서 모양 */
			transition: background-color 0.3s ease; /* 부드러운 색상 전환 */
		}

		#boardWriteBt:hover {
			background-color: #ffb524;
		}

		#userInfo{
			padding-right: 5%;
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		.boardTable{
			width: 95%;
			margin: 0 auto;
			border-collapse: collapse;
			background-color: #fff;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			overflow: visible !important;
		}

		.boardTable th, .boardTable td {
			padding: 15px;
			text-align: center;
			border-bottom: 1px solid #ddd;
		}

		.boardTable th {
			border-bottom: 1px solid #81c405;
			font-weight: bold;
		}

		#boardTableTbody {
			overflow: visible !important;
			height: auto !important;
		}

		.boardTable tr:nth-child(even) {
			background-color: #f9f9f9;
		}

		.boardTable a {
			color: #81c405;
			text-decoration: none;
		}

		.boardTable a:hover {
			text-decoration: underline;
		}

		#boardListContent{
			height: auto !important;
			overflow: visible !important;
		}

		.boardContent {
			overflow: visible !important;

			position: relative; /* 부모 컨테이너에 상대적인 위치를 지정합니다. */
		}

		#pagingForm{
			margin: 30px 0px 30px 25px;
		}

		form {
			display: flex;
			justify-content: center;
			margin-top: 20px;
		}

		#pagingForm input[type="text"] {
			padding: 7px;
			font-size: 1rem;
			border: 1px solid #ddd;
			border-radius: 4px;
		}

		#pagingForm select, form input[type="submit"] {
			padding: 8px 12px;
			margin-left: 10px;
			font-size: 1rem;
			border: 1px solid #81c405;
			background-color: #81c405;
			color: white;
			border-radius: 4px;
			cursor: pointer;
		}

		#pagingForm input[type="submit"]:hover {
			background-color: #7bb12a;
		}

		.boardNumCol{
			width: 10%;
		}

		.boardCatCol{
			width: 15%;
		}

		.writerNameCol{
			width: 15%;
		}

		.writerDateCol{
			width: 15%;
		}

		.boardTitCol{
			font-weight: bold;
		}

		#paginationControls{
			display: flex;
			justify-content: center;
			margin-top: 30px;

			position: absolute; /* 위치를 절대적으로 지정 */
			top: 550px;
			left: 50%;
			transform: translateX(-50%); /* 중앙 정렬을 위해 왼쪽으로 50% 이동 */
		}

		.paginationButton{
			background-color: white;
			color: #81c405;
		}

		.searchBox{
			display: flex;
			justify-content: center;

			position: absolute; /* 위치를 절대적으로 지정 */
			top: 650px;
			left: 50%;
			transform: translateX(-50%); /* 중앙 정렬을 위해 왼쪽으로 50% 이동 */
		}

		#searchWord{
			margin-left: 5px;
		}

		.category-link{
			text-decoration: none; /* 밑줄 제거 */
			color: #333; /* 기본 글자색 */
			font-weight: bold; /* 글자 두껍게 */
			padding: 5px 10px; /* 링크 클릭 영역을 넓히기 위한 패딩 */
			border-radius: 5px; /* 테두리 둥글게 */
			transition: background-color 0s, color 0s; /* 부드러운 색상 전환 */
		}

		.active-category{
			background-color: #FFB524 !important;
			color: white !important;
			font-weight: bold !important;
		}

		#userIconBox{
			display: flex;
			justify-content: flex-end;
		}

	</style>
	<script src="/js/jquery-3.7.1.min.js"></script>
	<script>

		function selectedCtg(element){
			// 모든 카테고리 링크에서 active-category 클래스 제거
			$('.boardNavbar ul li a').removeClass('active-category');

			// 클릭한 카테고리에 active-category 클래스 추가
			$(element).addClass('active-category');
		}

		$(document).ready(function() {

			var selectedCategory = '';

			// 처음에 1페이지 데이터를 불러옴
			loadBoardData(1);

			// 글쓰기 버튼 클릭 시 글쓰기 페이지로 이동
			$('#boardWriteBt').click(function (){
				window.location.href = 'board/write'
			})

			// 카테고리 클릭 이벤트
			$('.category-link').click(function(event) {
				event.preventDefault();
				selectedCategory = $(this).data('category'); // 선택된 카테고리 저장
				loadBoardData(1, '', '', selectedCategory); // 페이지는 1로 고정, 검색어와 타입은 빈 값
			});

			// 게시판 글 검색 기능 : 검색타입과 단어에 해당하는 글 출력
			$('#pagingForm').submit(function(event) {
				event.preventDefault();
				var searchType = $('#searchType').val();
				var searchWord = $('#searchWord').val();
				loadBoardData(1, searchType, searchWord, selectedCategory);
			});

			// 페이지 버튼 클릭 시 해당 페이지로 이동
			$(document).on('click', '.paginationButton', function() {
				var page = $(this).data('page');
				loadBoardData(page, '', '', selectedCategory);
			});

			// page, searchType, searchWord, category를 파라미터로 받아 해당 게시글 목록을 출력하는 함수
			function loadBoardData(page, searchType = '', searchWord = '', category = '') {
				$.ajax({
					url: '/board/list',
					method: 'GET',
					cache: false,  // 캐싱 방지
					data: {
						page: page,
						searchWord: searchWord,
						searchType: searchType,
						category: category // 선택한 카테고리를 데이터에 추가
					},
					success: function(response) {
						// 받은 데이터로 게시글 목록 업데이트
						var boardPage = response.boardPage;
						var user = response.user
						var boardList = '';
						var userIcon = '';

						if(user.roleName === 'ROLE_USER'){
							userIcon += '<img style="width: 22px; height: 22px" src="/img/smiley_icon.png">&nbsp';
						} else if (user.roleName === 'ROLE_SUBSCRIBER'){
							userIcon += '<img style="width: 22px; height: 22px" src="/img/subMem_icon.png">&nbsp';
						} else if (user.roleName === 'ROLE_ADMIN'){
							userIcon += '<img style="width: 22px; height: 22px" src="/img/admin_icon.png">&nbsp';
						}
						$('#userIconBox').html(userIcon);

						$.each(boardPage.content, function(index, board) {
							var formattedDate = formatDate(board.createDate);
							boardList += `<tr>
									<td class="boardNumCol">${board.boardNum}</td>
									<td class="boardCatCol">${board.category}</td>
									<td class="boardTitCol"><a href="/board/read?boardNum=${board.boardNum}">${board.title}</a></td>
									<td class="writerNameCol">${board.name}</td>
									<td class="writerDateCol">${formattedDate}</td>
								</tr>`;
						});

						$('#loginUserName').html(user.name);
						$('#boardListContent').html(`
							<table class="boardTable">
								<tbody id="boardTableTbody">
									<tr>
										<th>번호</th>
										<th>카테고리</th>
										<th>제목</th>
										<th>작성자</th>
										<th>작성일</th>
									</tr>
									${boardList}
								</tbody>
							</table>
                		`);

						// 페이지네이션 업데이트
						var paginationHtml = '';
						if (boardPage.hasPrevious) {
							paginationHtml += `<button class="paginationButton" data-page="${boardPage.number - 1}">이전</button>`;
						}
						for (var i = 1; i <= boardPage.totalPages; i++) {
							paginationHtml += `<button class="paginationButton" data-page="${i}">${i}</button>`;
						}
						if (boardPage.hasNext) {
							paginationHtml += `<button class="paginationButton" data-page="${boardPage.number + 1}">다음</button>`;
						}
						$('#paginationControls').html(paginationHtml);
					},
					error: function(error) {
						console.log("Error loading board data:", error);
					}
				});
			}

			// 날짜를 형식에 맞춰 반환하는 함수
			function formatDate(createDate) {
				var date = new Date(createDate);
				var year = date.getFullYear().toString().slice(-2); // '24'
				var month = (date.getMonth() + 1).toString().padStart(2, '0'); // '09'
				var day = date.getDate().toString().padStart(2, '0'); // '11'
				var hour = date.getHours().toString().padStart(2, '0'); // '10'
				var minute = date.getMinutes().toString().padStart(2, '0'); // '09'
				return `${year}.${month}.${day} ${hour}:${minute}`;
			}

		});

	</script>

</div>
