<div th:fragment="calendar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     xmlns:th="http://www.thymeleaf.org">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center"></div>
      <div class="cal-title">
        <h3 id="dietCalTitle" style="display: block; font-weight: bold">식단 달력</h3>
        <h3 id="nutrientCalTitle" style="display: none; font-weight: bold">영양소 달력</h3>
      </div>
      <div id="cal-title-btn" style="visibility: hidden">
        <button id="dietCalBtn">식단</button><button id="nutrientCalBtn">영양소</button>
      </div>
      <!-- 여기서부터 달력 부분-->
      <div class="row">
        <div class="col-md-12">
          <div class="elegant-calencar d-md-flex">
            <div class="wrap-header d-flex align-items-center img" style="background-image: url(/img/cal_food_0.png);">
              <p id="reset">Today</p>
              <div id="header" class="p-0">
                <div class="head-info">
                  <div class="head-month"></div>
                  <div class="head-day"></div> <br>
                  <br>
                  <div id="diet-list" style="display: none">
                    <table>
                      <tr>
                        <td>아침</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>점심</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>저녁</td>
                        <td></td>
                      </tr>
                    </table>
                  </div>
                  <div id="nutrient-list" style="display: none">
                    <table>
                      <tr>
                        <td>총 칼로리</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>과하게 섭취</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>부족한 섭취</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>추천 식단</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>식단 점수</td>
                        <td></td>
                      </tr>
                    </table>
                  </div>
                  <div id="diet-list-msg" style="display: block;">
                    <table>
                      <tr>
                        <td>해당 날짜에 입력된</td>
                      </tr>
                      <tr>
                        <td>식단이 없습니다.</td>
                      </tr>
                      <tr>
                        <td>식단을 입력하고 싶다면</td>
                      </tr>
                      <tr>
                        <td>날짜를 더블클릭 해주세요.</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="calendar-wrap">
              <div class="w-100 button-wrap">
                <div class="pre-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-left"></i></div>
                <div id="head-date" style="cursor: pointer;"></div> <!-- 2024년 9월 -->
                <div class="head-month" ></div>
                <div class="next-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-right"></i></div>
              </div>
              <table id="calendarTable">
                <thead>
                <tr>
                  <th>Sun</th>
                  <th>Mon</th>
                  <th>Tue</th>
                  <th>Wed</th>
                  <th>Thu</th>
                  <th>Fri</th>
                  <th>Sat</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--식단 입력 모달 부분-->
  <div id="diet-modal" class="cal-modal-overlay" style="display: none">
    <div class="cal-modal-window">
      <div class="cal-modal-title">
        <h4>식단 입력</h4>
      </div>
      <div class="close-btn"><img src="/img/x_circle_icon.png" style="height: 35px"></div>
      <div class="cal-content">
        <table id="diet-modal-table">
          <tr>
            <th colspan="2" class="clickedDietDay">클릭한 날짜</th>
            <td></td>
          </tr>
          <tr>
            <th>아침</th>
            <td><input type="text" id="bName" placeholder="아침 식사 메뉴를 알려주세요"></td>
          </tr>
          <tr>
            <th>점심</th>
            <td><input type="text" id="lName" placeholder="점심 식사 메뉴를 알려주세요"></td>
          </tr>
          <tr>
            <th>저녁</th>
            <td><input type="text" id="dName" placeholder="저녁 식사 메뉴를 알려주세요"></td>
          </tr>
          <tr>
            <td colspan="2"><button id="dietBtn">식단 저장</button></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <!--영양소 점수출력 모달 부분-->
 <!-- <div id="nutrient-modal" class="cal-modal-overlay" style="visibility: hidden">
    <div class="cal-modal-window" >
      <div class="cal-content">
        <table id="nutrient-modal-table">
          <tr>
            <th>식단 점수</th>
            <td class="clickedDietDay">날짜</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>-->

  <!--  <script src="/jq/jquery-3.7.1.min.js"></script>-->
  <script src="/js/calendar.js"></script>
  <script src="/js/diet-cal-modal_js.js"></script>

  <!--식단 저장 기능-->
  <script>
    window.onload = function(){
      let dietBtn = document.getElementById('dietBtn');
      dietBtn.addEventListener('click', dietInput);
    }

    function dietInput(){
      let bName = document.getElementById('bName').value;
      let lName = document.getElementById('lName').value;
      let dName = document.getElementById('dName').value;
      let clickedDietDay = document.getElementsByClassName('clickedDietDay')[0].value;
      //console.log(bName, lName, dName);

      if(bName.length === 0 && lName.length === 0 && dName.length === 0) {
        alert("식단을 입력해 주세요.");
        document.getElementById('bName').focus();
        return;
      }
      let dietArr = [bName, lName, dName, clickedDietDay];
      //서버로 비동기적인 요청
      $.ajax({
        url : '/localhost:7777/nutrition',  //파이썬 api코드로 작동. 키가 없어서 여기서 실제로 작동하지는 않음
        type : 'post',
        data : {dietArr : dietArr},
        success : function(){
          alert('식단이 저장되었습니다.');
          document.getElementById('bName').value = "";
          document.getElementById('lName').value = "";
          document.getElementById('dName').value = "";
        },
        error : function(){		//예외가 발생하면 여기로
          alert('diet save error');		//아예 요청을 받지 않을 때 (ex.404 오류)
        }

      });

    }
  </script>



  <link rel="stylesheet" href="/css/calendarCSS.css">
</div>  <!--fragment 용-->



