<div th:fragment="fragment1">
    <style>
        @keyframes smoothAppear {
            from {
                opacity: 0;
                transform: translate3d(0, -100%, 0);
            }
            to {
                opacity: 1;
                transform: translateZ(0);
            }
        }

        /* 모달 창 스타일 */
        .modal-content {
            background-color: white;
            margin: 5% auto;
            padding: 20px;
            width: 80%;
            height: 100%;
            max-width: 500px;
            max-height: 650px;
            text-align: center;
            border-radius: 10px;
            position: relative;
        }

        /* first-container와 second-container에 공통 적용 */
        .first-container, .second-container {
            position: absolute;
            padding: 20px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: 500px;
            max-height: 600px;
            transition: opacity 0.5s, transform 0.5s;
        }

        /* first-container의 기본 스타일 */
        .first-container {
            z-index: 2;
            opacity: 1;
            transform: translateX(0);
            visibility: visible;
            pointer-events: auto; /* 클릭 가능 */
        }

        /* first-container가 숨겨진 상태일 때 */
        .first-container.hidden {
            opacity: 0;
            transform: translateX(-100%);
            z-index: 1;
            visibility: hidden;
            pointer-events: none; /* 클릭 불가능 */
        }

        /* second-container의 기본 스타일 */
        .second-container {
            opacity: 0;
            transform: translateX(100%);
            z-index: 1;
            visibility: hidden; /* 화면에서 숨기기 */
            pointer-events: none; /* 클릭 불가능 */
        }

        /* second-container가 활성화된 상태일 때 */
        .second-container.active {
            opacity: 1;
            transform: translateX(0);
            z-index: 2;
            visibility: visible;
            pointer-events: auto; /* 클릭 가능 */
        }

        #box {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }

        #logo-image {
            max-width: 50%;
            height: auto;
        }

        .home-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .home-title {
            opacity: 0;
            animation: smoothAppear 1s forwards;
            animation-delay: 0.5s;
            margin: 15px 0;
            font-size: 2.4rem;
            font-weight: bold;
            color: #81c405;
            text-align: center;
        }

        .home-contents {
            opacity: 0;
            animation: smoothAppear 1s forwards;
            animation-delay: 1s;
            margin: 15px 0;
            font-size: 1.5rem;
            color: #282c34;
            text-align: center;
        }

        /* 모달 배경 */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        /* 버튼 스타일 */
        .button-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }

        .btn {
            padding: 10px 20px;
            margin: 10px;
            background-color: #81c405;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #555;
        }
    </style>
    <div id="box">
        <img id="logo-image" src="img/logo_home.png" alt="Logo">
        <div class="home-wrapper">
            <div class="home-title">
                <img src="img/slogan.png" alt="Logo" style="width: 80%">
            </div>
            <div class="home-contents">
                ❖ 영수증 사진으로 재료를 간편하게 등록할 수 있습니다️ ❖
            </div>

            <div class="button-container">
                <!-- 회원가입 버튼: GET 요청으로 'signupForm' 컨트롤러 호출 -->
                <form action="/member/signupForm" method="get">
                    <button id="signupBtn" class="btn">회원가입</button>
                </form>

                <!-- 로그인 버튼: GET 요청으로 'loginForm' 컨트롤러 호출 -->
                <form action="/member/loginForm" method="get">
                    <button id="loginBtn" class="btn">로그인</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
