<div th:fragment="myPages" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
    <style>
        /* My Pages CSS begin */
        .resumeSection {
            flex-direction: column;
        }
        .mypagesNavbarContainer {
            display: flex;
            justify-content: center; /* 네비게이션 바를 중앙에 배치 */
            margin: 0 auto;
        }

        .mypagesNavbar {
            background-color: #81c405;
            display: flex;
            justify-content: center; /* 네비게이션 바의 내부 아이템도 중앙에 배치 */
            padding: 10px;
            border-radius: 5px;
        }

        .mypagesNavbar a {
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
            font-size: 17px;
        }

        .mypagesNavbar a:hover {
            background-color: #6aa003;
        }

        .mypagesContent {
            padding: 20px;
            display: none;
            margin-top: 20px; /* 네비게이션 바 아래에 위치 */
        }

        #defaultContent {
            display: block;
        }
        /* My Pages CSS End */

    </style>
    <script>
        function openTab(event, tabName) {
            event.preventDefault(); // 페이지 새로 고침 방지
            $(".mypagesContent").hide(); // 모든 콘텐츠를 숨김
            $("#" + tabName).show(); // 클릭한 탭의 콘텐츠만 보이도록 설정
        }
    </script>
    <div class="resume-section-content">
        <!-- 네비게이션 바 -->
        <section class="resumeSection" id="myPages">
            <div class="mypagesNavbarContainer">
                <div id="mypagesNavbar" class="mypagesNavbar">
                    <a href="#" class="mypages-tablink" onclick="openTab(event, 'myrecipe')">나의 레시피</a>
                    <a href="#" class="mypages-tablink" onclick="openTab(event, 'subsService')">구독 서비스</a>
                    <a href="#" class="mypages-tablink" onclick="openTab(event, 'record')">소비 기록</a>
                    <a href="#" class="mypages-tablink" onclick="openTab(event, 'profileUpdate')">회원정보수정</a>
                    <a href="#" class="mypages-tablink" onclick="openTab(event, 'support')">이용문의</a>
                    <a href="#" class="mypages-tablink" onclick="openTab(event, 'withdrawal')">회원탈퇴</a>
                </div>
            </div>

            <!-- 나의 레시피 -->
            <div id="myrecipe" class="mypagesContent">
                <div th:replace="myPages/myrecipe :: myrecipeFragment"></div>
            </div>

            <!-- 구독 서비스 섹션 -->
            <div id="subsService" class="mypagesContent">
                <!-- 비구독자일 경우 구독 정보를 보여주는 섹션 -->
                <div sec:authorize="hasRole('ROLE_USER') and not hasRole('ROLE_SUBSCRIBER')">
                    <div th:replace="myPages/subsService :: subsFragment"></div>
                </div>
                <!-- 구독자인 경우 구독 취소 정보를 보여주는 섹션 -->
                <div sec:authorize="hasRole('ROLE_SUBSCRIBER')">
                    <div th:replace="myPages/subsCancelService :: subsCancelFragment"></div>
                </div>
            </div>

            <!-- 소비 기록 -->
            <div id="record" class="mypagesContent">
                <div th:replace="myPages/record :: recordFragment"></div>
            </div>

            <!-- 회원정보수정 -->
            <div id="profileUpdate" class="mypagesContent">
                <div th:replace="myPages/profileUpdate :: profileUpdateFragment"></div>
            </div>

            <!-- 이용문의 -->
            <div id="support" class="mypagesContent">
                <div th:replace="myPages/support :: supportFragment"></div>
            </div>

            <!-- 회원 탈퇴 -->
            <div id="withdrawal" class="mypagesContent">
                <div th:replace="myPages/withdrawal :: withdrawalFragment"></div>
            </div>
        </section>
    </div>
</div>
